### OS or Editor folders ###
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db



### Directories ###
vendor
front/lib
temp/
tmp/
imagecache/
videos/
/video/
/cache/
back/db 

### Project Specific: ###
back/sys/config.php

### known large file types ###
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz


back/db/import.json
